<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>

    <% if (property) { %>
        <form class="add-property-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first-name">House Number</label>
                    <input type="text" class="form-control" name="house_number" id="nouse-number" value="<%= property.houseNumber %>" required>
                </div>
                    <label for="last-name">Street</label>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="street" id="street" value="<%= property.street %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="propertyname">Unit No</label>
                    <input type="text" class="form-control" name="unit_number" id="unit-number" value="<%= property.unitNumber %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="propertyname">City</label>
                    <input type="text" class="form-control" name="city" id="city" value="<%= property.city %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="propertyname">State</label>
                    <input type="text" class="form-control" name="state" id="state" value="<%= property.state %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="propertyname">Zip</label>
                    <input type="text" class="form-control" name="postal_code" id="postal-code" value="<%= property.postalCode %>" required>
                </div>
            <div class="form-group col-md-6">
                    <label for="propertyname">Bedrooms</label>
                <select id="bedroom-number" name="bedroom_number" class="form-control" required>
                    <option selected disabled>Number of bedrooms</option>
                    <option value="0">Studio</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option value="5">5+</option>
                </select>
            </div>
            </div>
            <input type="hidden" name="property_id" id="property-id" value="<%= property.propertyId %>">
            <button type="submit" class="btn btn-success float-right">Update Property</button>
        </form>
    <% } else { %>
        <p class="text-center">Property Not Found. Go <a href="/add">here</a> to add properties.</p>
    <% } %>
</div>
</div>
</body>
</html>