<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (properties.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">HouseNo</th>
                        <th scope="col">Street</th>
                        <th scope="col">UnitNo</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Zip</th>
                        <th scope="col">Bedrooms</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% properties.forEach((property, index) => { %>
                        <tr>
                            <th scope="row"><%= property.propertyId %></th>
                            <td><%= property.houseNumber %></td>
                            <td><%= property.street %></td>
                            <td><%= property.unitNo %></td>
                            <td><%= property.city %></td>
                            <td><%= property.state %></td>
                            <td><%= property.postalCode %></td>
                            <td><%= property.bedroomNumber %></td>
                            <td>
                                <a href="/edit/<%= property.propertyId %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= property.propertyId %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No properties found. Go <a href="/add" >here</a> to add properties.</p>
        <% } %>
    </div>
</div>
</body>
</html>
